<div class="workbook">
    <div class="menu">
            <wb-menu [sheets]="listOfSheets" [currentSheetId]="activeSheetId" (sheetSwitched) = "switchSheet($event)"></wb-menu>
    </div>
    <div class="sheet-container">
        <sheet  
            [uniqueId] = "activeSheetId" 
            [bgColor]="currentSheetBgColor" 
            [pages]="currentSheetPages"
            [currentPageId] = "currentSheetStartPageId"
            (sheetStartPageChanged) = "switchStartPage($event)"
        >
        </sheet>
    </div>
</div>
