<div class="calendar-day-wrapper center" 
    setColors [dBgColor]="getBgColorDependOnEventsNumber()" 
    [shouldSetBgColor]="true"
    [ngClass] = "{'gray-day': !isItCueentMonthDay}"

>
    <div class="day-nr-of-events-wrapper">
        <div *ngIf="(events.length > 0) && (isItCueentMonthDay)" 
            setColors [dBgColor]="'red'" 
            [shouldSetBgColor]="true"                            
            class="day-nr-of-events center">
            {{events.length>9?'9+':events.length}}
        </div>
    </div>
    <div class="day-number">{{monthDayIndex}}</div>
</div>
