<!-- hours: 0, minutes: 0, duration: 0, summary: '', description: '', uniqueId: this.uuidProvider.getUniqueId() -->

<div class="wrapper">
    <div class="title">{{add0prefix(day)}}/{{add0prefix(month)}}/{{year}}</div>
    <div class="row">
        <div class="field row">
            <div class="label">Start time</div>
            <div class="row">
                <div 
                    ValidateHour [ifNotValid]="task.hours"
                    class="input" contenteditable="true"
                    (focusout)="setTaskHours($event)"
                >
                    {{add0prefix(task.hours)}}
                </div>
                :
                <div
                    ValidateMinutes [ifNotValid] ="task.minutes"
                    class="input" contenteditable="true"
                    (focusout)="setTaskMinutes($event)"
                >
                    {{add0prefix(task.minutes)}}
                </div>
            </div>
        </div>
        <div class="field">
            <div class="row">
                <div class="label">Duration</div>
                <div ValidateDuration [ifNotValid] ="task.duration" 
                     class="input" contenteditable="true"
                     (focusout) = "setTaskDuration($event)"
                >
                    {{task.duration}}
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="label" >Summary</div>
        <div 
            ValidateSummary [ifNotValid]="task.summary"
            class="input input-full-length" contenteditable="true"
            (focusout) = "setTaskSummary($event)"
        >
            {{task.summary}}
        </div>
    </div>
    <div class="field">
        <div class="label">Description</div>
        <div class="input input-full-length" contenteditable="true">{{task.description}}</div>
    </div>
    <div class="button" (click)="closeTaskEditFrom()">Done</div>
</div>