<div class="month-view-wrapper center">
    <div class="year-switch">
        <div class="arrow button center" (click)="displaySaveWindow()"><div>Save</div></div>
        <div class="arrow center" (click)="incrementYear(-1)"><div>&lt;&lt;</div></div>
        <div class="year center" 
            contenteditable="true" 
            validateYear [ifNotValid] = "year"
            [innerText] = "year"
            (focusout)="changeYear($event)"
        >
        </div>
        <div class="arrow center" (click)="incrementYear(1)"><div>&gt;&gt;</div></div>
        <div class="arrow button center" (click)="switchToNotes()"><div>Notes</div></div>
        <div class="arrow button center" (click)="test()"><div>Test</div></div>
    </div>
    <div class="calendar-content">
        <month *ngFor="let month of months"
            [year] = "year"
            [monthDescriptor] = "month"
            [events] = "getMonthEvents(year, month)"
        >
        </month>
    </div>
</div>


<!-- (focusout)="changeYear($event)"
(keydown)="validateYear($event)"
(mousedown)="validateYear($event)" -->