<div class="month-view-wrapper center">
    <div class="year-switch">
        <div class="arrow center" (click)="incrementYear(-1)"><div>&lt;&lt;</div></div>
        <div class="year center" contenteditable="true" (focusout)="changeYear($event)">{{year}}</div>
        <div class="arrow center" (click)="incrementYear(1)"><div>&gt;&gt;</div></div>
    </div>
    <div class="calendar-content">
        <month *ngFor="let month of months"
            [year] = "year"
            [monthDescriptor] = "month"
        >
        </month>
    </div>
</div>