.wrapper{
    position: relative;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: solid thin var(--light-border);
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
.topic{
    font-weight: bold;
}
description{
    text-decoration: none;
}
.edit-button{
    position: absolute;
    top: 10px;
    right: 10px;
    transform: rotateZ(90deg);
    width: 1rem;
    height: 1rem;
    text-align: center;
    border: solid thin var(--light-border);
    cursor: pointer;
}