<div class="wrapper center">
    <div class="page-menu-toggle-button center">
            Options
    </div>
    <div class="page-menu-wrapper" *ngIf="isMenuActive">
        <div class="page-menu-button center" [ngClass]="editButtonClassList" #edit (click)="enterEditMode($event)">Edit mode</div>
        <div class="page-menu-button center" #showAll (click)='showAllNotes($event)' >Show all</div>
        <div class="page-menu-button center" #addAfter (click)='addNewPageAfterThis($event)'>+</div>
    </div>
</div>