<ng-container *ngIf="shouldDisplay">
    <div class="shutter center">
        <div class="window center">
            <div class="title">{{title}}</div>
            <div class="input center">
                <div 
                PreventEnter
                PreventPaste
                ValidateMenuTab [maxValue] = '25'
                class="editable" contenteditable="true" (focusout)="updateProposedFileName($event)">{{fileName}}</div>
            </div>
            <div class="buttons">
                <div class="button" (click)="confirm()">Save</div>
                <div class="button" (click)="cancel()">Close</div>
            </div>
        </div>
    </div>
</ng-container>
