<ng-container *ngIf = "shouldBeDisplayed">
    <div class="shutter center">
        <div class="viewer-window">
            <div class="nav-bar">
                <div class="arrow">&lt;&lt;</div>
                <div class="date">{{currentDate}}</div>
                <div class="arrow">&gt;&gt;</div>

                <div class="button">Save</div>
                <div class="button" (click)="close()">&times;</div>
            </div>
            <div class="tasks">
                <table>
                        <tr>
                            <th colspan="2">Time</th>
                            <th>Duration</th>
                            <th>Summary</th>
                            <th>Description</th>
                        </tr>
                        <tr *ngFor="let entry of entries">
                            <td><div class="center hours">{{entry.hours}}</div></td>
                            <td><div class="center minutes">{{entry.minutes}}</div></td>
                            <td><div class="center duration">{{entry.duration}}</div></td>
                            <td><div class="center summary">{{entry.summary}}</div></td>
                            <td><div class="center description">{{entry.description}}</div></td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</ng-container>