<ng-container *ngIf = "shouldBeDisplayed">
    <div class="shutter center">
    <task-edit-form
        *ngIf="shouldShowEditFrom"
        [task] = "formTask"
        [day] = 'day'
        [month] = "month"
        [year] = "year"
    >
    </task-edit-form>
        <div class="viewer-window center">
            <div class="nav-bar center">
                <div class="arrow" (click)="switchToAnotherDay(-1)">&lt;&lt;</div>
                <div class="date">
                    <span class="conditional-display">{{dayAsString}}</span>
                    &nbsp;
                    <span>{{add0prefix(day)}}</span> / 
                    <span>{{add0prefix(month + 1)}}</span> / 
                    <span class="conditional-display">{{year}}</span>
                </div>
                <div class="arrow" (click)="switchToAnotherDay(1)">&gt;&gt;</div>

                <!-- <div class="arrow button">Save</div> -->
                <div class="close arrow center" (click)="close()">&times;</div>
            </div>
            <div class="tasks">
                <table  *ngIf="!shouldDisplayMobileVersion">
                        <tr>
                            <th colspan="2">Time</th>
                            <th>Duration</th>
                            <th>Summary</th>
                            <th>Description</th>
                            <th>Opt.</th>
                        </tr>
                        <tr *ngFor="let entry of entries">
                            <td>
                                <div ValidateHour [ifNotValid] ="entry.hours"  
                                    class="center hours editable" 
                                    contenteditable="true" 
                                    (focusout)="setTaskHours($event, entry.uniqueId)"
                                >
                                {{add0prefix(entry.hours)}}
                                    
                                </div>
                            </td>
                            <td>
                                <div ValidateMinutes [ifNotValid] ="entry.minutes" 
                                    class="center minutes editable" 
                                    contenteditable="true" 
                                    (focusout)="setTaskMinutes($event, entry.uniqueId)"
                                >
                                    {{add0prefix(entry.minutes)}}
                                </div>
                            </td>
                            <td>
                                <div ValidateDuration [ifNotValid] ="entry.duration"
                                    class="center duration editable" 
                                    contenteditable="true" 
                                    (focusout)="setTaskDuration($event, entry.uniqueId)"
                                >
                                    {{entry.duration}}
                                </div>
                            </td>
                            <td>
                                <div ValidateSummary [ifNotValid] ="entry.summary" 
                                    class="center summary editable" 
                                    contenteditable="true" 
                                    (focusout)="setTaskSummary($event, entry.uniqueId)"
                                >
                                    {{entry.summary}}
                                </div>
                            </td>
                            <td>
                                <div class="center description editable" 
                                    contenteditable="true" 
                                    (focusout)="setTaskDescription($event, entry.uniqueId)"
                                >
                                    {{entry.description}}
                                </div>
                            </td>
                            <td>
                                <div class="options center">
                                    <div 
                                        class="arrow center icon-button icon-button-fixed icon-button-green" 
                                        (click) = "addEventAfter($event, entry.uniqueId)"
                                        >+</div>
                                    <div 
                                        class="arrow center icon-button icon-button-fixed icon-button-red"
                                        (click) = "removeEvent($event, entry.uniqueId)"
                                        >&times;</div>
                                    <div class="arrow center icon-button" 
                                        (click)="openMoveWindow(entry.uniqueId)"
                                        [ngClass] = "{'move-lighted': eventToMoveId == entry.uniqueId}"
                                    >
                                        move
                                    </div>
                                </div>
                            </td>
                        </tr>
                </table>



                 
            <div *ngIf="shouldDisplayMobileVersion" class="wrapper">
                    <div class="title">{{add0prefix(day)}}/{{add0prefix(month)}}/{{year}}</div>
                <div class="task-wrapper" *ngFor="let entry of entries" >
                        <div class="row task-header">
                                <div 
                                    class="arrow center icon-button icon-button-fixed icon-button-green" 
                                    (click) = "addEventAfter($event, entry.uniqueId)"
                                >+</div>
                                <div 
                                    class="arrow center icon-button icon-button-fixed icon-button-red"
                                    (click) = "removeEvent($event, entry.uniqueId)"
                                    >&times;</div>
                                <div class="arrow center icon-button" 
                                    (click)="openMoveWindow(entry.uniqueId)"
                                    [ngClass] = "{'move-lighted': eventToMoveId == entry.uniqueId}"
                                >
                                    move
                                </div>
                            </div>


                    <div class="row">
                        <div class="field row align-horizontal">
                            <span class="label">Start time</span>
                            <div class="row">
                                <div 
                                    ValidateHour [ifNotValid]="entry.hours"
                                    class="input" contenteditable="true"
                                    (focusout)="setTaskHours($event, entry.uniqueId)"
                                >
                                    {{add0prefix(entry.hours)}}
                                </div>
                                <div class="label">:</div>
                                <div
                                    ValidateMinutes [ifNotValid] ="entry.minutes"
                                    class="input" contenteditable="true"
                                    (focusout)="setTaskMinutes($event, entry.uniqueId)"
                                >
                                    {{add0prefix(entry.minutes)}}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="row align-horizontal">
                                <div class="label">Duration</div>
                                <div ValidateDuration [ifNotValid] ="entry.duration" 
                                     class="input" contenteditable="true"
                                     (focusout) = "setTaskDuration($event, entry.uniqueId)"
                                >
                                    {{entry.duration}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="label" >Summary</div>
                        <div 
                            ValidateSummary [ifNotValid]="entry.summary"
                            class="input input-full-length" contenteditable="true"
                            (focusout) = "setTaskSummary($event, entry.uniqueId)"
                        >
                            {{entry.summary}}
                        </div>
                    </div>
                    <div class="field">
                        <div class="label">Description</div>
                        <div class="input input-full-length" contenteditable="true">{{entry.description}}</div>
                    </div>


                </div>
                    <!-- <div class="button" (click)="closeTaskEditFrom()">Done</div> -->
                </div>

                <!-- <table *ngIf="shouldDisplayMobileVersion">
                    <tr>
                        <th colspan="2">Time</th>
                        <th>Duration</th>
                        <th>Summary</th>
                        <th>Opt</th>
                    </tr>
                    <tr *ngFor="let entry of entries; let i = index" class="hoverable-row">
                        <td (click)="showEditForm(i)"> 
                            <div class="center hours">
                                {{add0prefix(entry.hours)}}
                            </div>
                        </td>
                        <td (click)="showEditForm(i)">
                            <div class="center minutes">
                                {{add0prefix(entry.minutes)}}
                            </div>
                        </td>
                        <td (click)="showEditForm(i)">
                            <div class="center duration">
                                {{entry.duration}}
                            </div>
                        </td>
                        <td (click)="showEditForm(i)">
                            <div class="center summary">
                                {{entry.summary}}
                            </div>
                        </td>
                        <td>
                            <div class="options center">
                                    <div 
                                        class="arrow center icon-button icon-button-fixed icon-button-green" 
                                        (click) = "addEventAfter($event, entry.uniqueId)"
                                        >+</div>
                                </div>
    
                        </td>
                    </tr>
                </table> -->

                <!-- *ngIf="shouldDisplayMobileVersion" -->

                <div *ngIf="entries.length==0" 
                    class="huge-button center arrow" 
                    aria-role="add first task"
                    (click) = "addFirstTask()"
                >
                    <div>+</div>
                </div>
            </div>

            <move-to-window 
                [shouldDisplay] = "shouldMoveWindowBeVisible"
                [year] = "year"
                [month] = "month + 1"
                [day] = "day"
                [events] = "events"
                [targetEventId] = "eventToMoveId"
                [calendarEventsObject] = ""
                (closeMoveWindowEvent) = "shouldMoveWindowBeVisible = false"
            >
            </move-to-window>

        </div>
    </div>
</ng-container>

