<ng-container *ngIf = "shouldBeDisplayed">
    <div class="shutter center">
        <div class="viewer-window center">
            <div class="nav-bar center">
                <div class="arrow" (click)="switchToAnotherDay(-1)">&lt;&lt;</div>
                <div class="date">
                    <span class="conditional-display">{{dayAsString}}</span>
                    &nbsp;
                    <span>{{add0prefix(day)}}</span> / 
                    <span>{{add0prefix(month + 1)}}</span> / 
                    <span class="conditional-display">{{year}}</span>
                </div>
                <div class="arrow" (click)="switchToAnotherDay(1)">&gt;&gt;</div>

                <div class="arrow button">Save</div>
                <div class="button close" (click)="close()">&times;</div>
            </div>
            <div class="tasks">
                <table>
                        <tr>
                            <th colspan="2">Time</th>
                            <th>Duration</th>
                            <th>Summary</th>
                            <th>Description</th>
                            <th>Opt.</th>
                        </tr>
                        <tr *ngFor="let entry of entries">
                            <td>
                                <div class="center hours editable" 
                                    contenteditable="true" 
                                    [ngClass] = "hourValidationClass"
                                    (focusout)="onFocusOut($event, 'hours', entry.uniqueId)"
                                    (keydown)="validateHours($event)"
                                    (mousedown) = "validateHours($event)"
                                >
                                {{add0prefix(entry.hours)}}
                                    
                                </div>
                            </td>
                            <td>
                                <div class="center minutes editable" 
                                    contenteditable="true" 
                                    (focusout)="onFocusOut($event, 'minutes', entry.uniqueId)"
                                    (keydown)="validateMinutes($event)"
                                    (mousedown) = "validateMinutes($event)"
                                >
                                    {{add0prefix(entry.minutes)}}
                                </div>
                            </td>
                            <td>
                                <div class="center duration editable" 
                                    contenteditable="true" 
                                    (focusout)="onFocusOut($event, 'duration', entry.uniqueId)"
                                    (keydown)="validateDuration($event)"
                                    (mousedown) = "validateDuration($event)"
                                >
                                    {{entry.duration}}
                                </div>
                            </td>
                            <td>
                                <div class="center summary editable" 
                                    contenteditable="true" 
                                    (focusout)="onFocusOut($event, 'summary', entry.uniqueId)"
                                    (keydown)="validateSummary($event)"
                                    (mousedown) = "validateSummary($event)"
                                >
                                    {{entry.summary}}
                                </div>
                            </td>
                            <td>
                                <div class="center description editable" 
                                    contenteditable="true" 
                                    (focusout)="modifyNote($event, 'description', entry.uniqueId)"
                                >
                                    {{entry.description}}
                                </div>
                            </td>
                            <td>
                                <div class="options center">
                                    <div 
                                        class="arrow center icon-button icon-button-fixed icon-button-green" 
                                        (click) = "addEventAfter($event, entry.uniqueId)"
                                        >+</div>
                                    <div 
                                        class="arrow center icon-button icon-button-fixed icon-button-red"
                                        (click) = "removeEvent($event, entry.uniqueId)"
                                        >&times;</div>
                                    <div class="arrow center icon-button" 
                                        (click)="openMoveWindow(entry.uniqueId)"
                                        [ngClass] = "{'move-lighted': eventToMoveId == entry.uniqueId}"
                                    >
                                        move
                                    </div>
                                </div>
                            </td>
                        </tr>
                </table>

                <div *ngIf="entries.length==0" 
                    class="huge-button center arrow" 
                    aria-role="add first task"
                    (click) = "addFirstTask()"
                >
                    <div>+</div>
                </div>
            </div>

            <move-to-window 
                [shouldDisplay] = "shouldMoveWindowBeVisible"
                [year] = "year"
                [month] = "month + 1"
                [day] = "day"
                [events] = "events"
                [targetEventId] = "eventToMoveId"
                [calendarEventsObject] = ""
                (closeMoveWindowEvent) = "shouldMoveWindowBeVisible = false"
            >
            </move-to-window>

        </div>
    </div>
</ng-container>