:host{
    border: solid hsl(240, 60%, 80%) thin;
    border-radius: 7px;
    margin: 4px;
    position: relative;
    width: calc(100% / 7.1);
}
.center{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.wrapper{
    border-radius: 5px;
    position: relative;
    width: 100%;
}
.title-wrapper{
    position: relative;
    width: 100%;
}
.title{
    font-weight: bold;
    background-color: hsl(240, 30%, 10%);
    color: white;
}
.title-date{
    font-style: italic;
    background-color: hsl(240, 30%, 80%);
    color: black;    
}
.content-wrapper{}
.event{

}

