:host{
    border: solid hsl(240, 60%, 80%) thin;
    border-radius: 7px;
    margin: 4px;
    position: relative;
    /* max-width: calc(100% / 5.1); */
    /* align-self: stretch; */
    /* min-width: 200px; */
    flex-basis: 200px;
    flex-grow: 1;    
}
.center{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.wrapper{
    border-radius: 5px;
    position: relative;
    width: 100%;
    overflow: hidden;
    
    height: 100%;
}
.wrapper:hover{
    /* overflow-y: auto; */
}
.title-wrapper{
    position: relative;
    width: 100%;
}
.title{
    font-weight: bold;
    background-color: hsl(240, 30%, 10%);
    color: white;
}
.title-date{
    font-style: italic;
    background-color: hsl(240, 30%, 80%);
    color: black;    
}
.content-wrapper{
    position: relative;
    height: 100%;
    overflow-y: auto;
}
.event{

}

