
<div class="wrapper">
    <!-- <note></note>
    <movable-point movableElement></movable-point> -->
    <work-book></work-book>
    <confirmation-window
        [uniqueId] = "'confirmationWindowId'"
    >
    </confirmation-window>
    <user-message></user-message>
    <inform-user-not-disturb></inform-user-not-disturb>
    <save-load-window [shouldBeDisplayed] = "false"> </save-load-window>
    <task-viewer></task-viewer>
    <waiting-spinner *ngIf="shouldDisplayWaitingSpinner"></waiting-spinner>
</div>