<ng-container *ngIf = "shouldBeDisplayed">
    <div class="shutter">
        <div class="wrapper">
            <div class="navigation-section">
                <div class="arrow" (click)="openAddLinkForm()">+</div>
                <div class="serachBox" (keydown)="getFilter($event)" contenteditable="true"></div>
                <div class="arrow" (click)="close()">&times;</div>
            </div>
            <div class="link-section">
                <custom-link 
                    *ngFor="let link of linkDescriptorArray.sort(descriptorCompare)" 
                    [ngClass] = "{hidden: !shouldLinkBeDisplayed(link)}"
                    [linkDescriptor] = "link"
                    (pleaseDisplayEditWindow) = "showEditLinkWindow($event)"
                >
                </custom-link>
            </div>
        </div>
    </div>
</ng-container>
