<div class="tab-wrapper">
    <div class="tab-shape"         
        setColors [dBgColor]="bgColor" 
        [shouldSetBgColor]="isRectangleTab"
        [ngClass] = "tabShapeClasses" 
        [style.border-bottom-color]="bgColor">
        <span>
            <span class = "title-holder" [attr.contenteditable]="inTitleEditMode"
            PreventEnter
            PreventPaste
            ValidateMenuTab
            >{{tabTitle}}</span>
            <!-- <span *ngIf="!setBehind">&#8285;</span>
             -->
             <span class = "kill-me" *ngIf="!setBehind" (click)="killRelatedPage($event)">&times;</span>
        </span>
    </div>
</div>

<!-- [style.border-bottom-color] = "bgColor" [style.color]="fgColor"> -->