.center{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.tab-shape{
    position: relative;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
    text-overflow: ellipsis; 
    /*ellipsis will not */
    /* max-height: 1.2rem;
    line-height: 1.1rem; */
}
.active{
    z-index: 100;
    font-weight: bold;
    cursor: not-allowed;
}

.active-behind{
    z-index: 0;
    cursor: pointer;
}

.active-behind:hover{
    transform: scale(1.2);
    transition: 0.3s;
    z-index: 101;
}

.tab-shape:not(.active):hover{
    transform: scale(1.2);
    transition: 0.3s;
    z-index: 101;
}

.tab-shape{
    position: relative;
    /* width: 20px; */
    height: 0px;
    border-bottom-width: 1.2rem;
    border-left-width: 0.6rem;
    border-right-width: 0.6rem;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-color: limegreen;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: none;
    margin-left: -0.3rem;
    margin-right: -0.3rem;
}
.tab-shape>span{
    position: relative;
    height: 1rem;
    text-overflow: ellipsis; 
    white-space: nowrap;
}
.tab-content{
    position: relative;
    background-color: transparent;
}
