*{
    font-family: Arial, Helvetica, sans-serif;
}
.center{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.tab-shape{
    position: relative;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
    text-overflow: ellipsis; 
}
.tab-shape>span{
    width: 100%;
    position: relative;
    display: inline-block;
}
/* .tab-shape>span>span{ */
.title-holder{
    width: calc( 100% - 1rem );
    position: relative;
    display: inline-block;
}
.active{
    z-index: 100;
    font-weight: bold;
    cursor: cell;
}

.active-behind{
    z-index: 0;
    cursor: pointer;
}

.active-behind:hover{
    transform: scale(1.2);
    transition: 0.3s;
    z-index: 101;
}

.tab-shape:not(.active):hover{
    transform: scale(1.2);
    transition: 0.3s;
    z-index: 101;
}

.tab-shape{
    position: relative;
    /* width: 20px; */
    height: 0px;
    border-bottom-width: 1.2rem;
    border-left-width: 0.6rem;
    border-right-width: 0.6rem;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-color: limegreen;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: none;
    margin-left: -0.3rem;
    margin-right: -0.3rem;
}
.tab-shape>span{
    position: relative;
    height: 1rem;
    text-overflow: ellipsis; 
    white-space: nowrap;
}
.tab-content{
    position: relative;
    background-color: transparent;
}
.kill-me:hover{
    transition: 0.3s;
    transform: scale(1.5);
}
.kill-me{
    position: relative;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 0.3rem;
    font-weight: bold;
}
.kill-me:active{
    transition: 0.3;
    transform: scale(0.8);
}
.content-editable{
    background-color: white;
    color: black;
    cursor: text;
    outline: none;
}
