<div class="sheet">
    <div class="tab-menu-container">
        <tab-menu [pages] = "pages" 
                  [currentId] = "currentPageId" 
                  (tabChosen) = "displayPageById($event)"
                  (addNewPage) = "addNewPage()"
        >
        </tab-menu>
    </div>
    <div class="page-container">
        <page [notes] = "currentPageNotes" 
              [bgColor] = "getCurrentPagesColor()" 
              [uniqueId] = "currentPageId">
        </page>
    </div>
    
</div>
