<div class="wb-menu-wrapper">
    <div class="wb-menu-sheets">
        <wb-menu-entry *ngFor="let sheet of sheets" 
                    [title]="getSheetsTitle(sheet)"
                    [isActive]="checkIfSheetIsActive(sheet)"
                    [uniqueId] = "getSheetsId(sheet)"
                    [bgColor] = "getSheetsBgColor(sheet)"
                    (sheetChanged) = "switchSheet($event)"
        >
        </wb-menu-entry>
        <wb-menu-entry [title]="'Add +'" [isActive]="true" [bgColor]="'black'" (click)="addNextSheet()"></wb-menu-entry>
    </div>
    <div class="wb-menu-options">
        <wb-button [uniqueId] = "'newContentId'"
            [isPushed] = "false"
            [pictogram] = "'New'"
            (wasClicked) = "passDataFromStorageToWBComponent('newDocument')"
 >
        </wb-button>
        <wb-button [uniqueId] = "'saveContentId'"
                   [isPushed] = "false"
                   [pictogram] = "'Save'"
                   (wasClicked) = "passDataFromStorageToWBComponent('saveWholeDocument')"
        >
        </wb-button>
        <wb-button [uniqueId] = "'loadContentId'"
                [isPushed] = "false"
                [pictogram] = "'Load'"
                (wasClicked) = "passDataFromStorageToWBComponent('loadWholeDocument')"
        >
        </wb-button>
        <wb-button [uniqueId] = "'clearStorageId'"
                [isPushed] = "false"
                [pictogram] = "'Clear'"
                (wasClicked) = "passDataFromStorageToWBComponent('clearStorage')"
        >
        </wb-button>
        <wb-button [uniqueId] = "'GetAllFromStoratge'"
            [isPushed] = "false"
            [pictogram] = "'Get all'"
            (wasClicked) = "passDataFromStorageToWBComponent('getAllKeysFromStorage')"
        >
        </wb-button>
    </div>
</div>


<!-- clearStorage(){
    localStorage.clear();
  }

  removeItemFromStorage(key: string){
    localStorage.removeItem(key)
  }

  getAllItemsFromStorage(){
    return Object.keys(localStorage);
  } -->

<!-- load: &#128193;
save: &#x1F4BE; -->



<!-- export class WbButtonComponent implements OnInit {
    @Input() uniqueId: string = '';
    @Input() pictogram: string = '';
    @Input() isPushed: boolean = false;
    @Output() wasClicked: EventEmitter<any> = new EventEmitter();
    dynamicClass: any = {
      pushed: false
    }
    constructor() { }
  
    ngOnInit(): void {
    }
  
    @HostListener('click')
    onClick(){
      this.wasClicked.emit()
    } -->



