<div class="button center" *ngIf="isHiddable" onclick="showMenu()"><span>>></span></div>
<div class="wb-menu-wrapper" [ngClass]="{'hidden':isHiddable}">

        <expandable-menu [whatAppAmIIn]="'note'"></expandable-menu>

    <div class="wb-menu-sheets">
        <wb-menu-entry *ngFor="let sheet of sheets" 
                    [title]="getSheetsTitle(sheet)"
                    [isActive]="checkIfSheetIsActive(sheet)"
                    [uniqueId] = "getSheetsId(sheet)"
                    [bgColor] = "getSheetsBgColor(sheet)"
                    (sheetChanged) = "switchSheet($event)"
        >
        </wb-menu-entry>
        <wb-menu-entry [isKillable] = "false" [title]="'Add +'" [isActive]="true" [bgColor]="'black'" (click)="addNextSheet()"></wb-menu-entry>
    </div>
    <!-- <div class="wb-menu-options">
        <wb-button [uniqueId] = "'newContentId'"
            [isPushed] = "false"
            [pictogram] = "'New'"
            (wasClicked) = "menu.getNewPage()"
 >
        </wb-button>
        <wb-button [uniqueId] = "'saveContentId'"
                [isPushed] = "false"
                [pictogram] = "'Save'"
                (wasClicked) = "menu.saveToLastUsedKey()"
        ></wb-button>
        <wb-button [uniqueId] = "'saveContentId'"
                   [isPushed] = "false"
                   [pictogram] = "'Save as'"
                   (wasClicked) = "menu.openMemoryManager('save')"
        ></wb-button>
        <wb-button [uniqueId] = "'saveFileId'"
            [isPushed] = "false"
            [pictogram] = "'Save file'"
            (wasClicked) = "menu.saveToAFile()"
        ></wb-button>
        <wb-button [uniqueId] = "'saveContentId'"
        [isPushed] = "false"
        [pictogram] = "'Load'"
        (wasClicked) = "menu.openMemoryManager('load')"
>

        </wb-button>
        <wb-button [uniqueId] = "'CalendarButtonId'"
        [isPushed] = "false"
        [pictogram] = "'Calendar'"
        (wasClicked) = "menu.switchToCalendar()"
    >
    </wb-button> -->
    <!-- </div> -->
</div>




