<ng-container *ngIf="shouldBeDisplayed">
    <div class="view-wrapper">
        <div class="nav-bar">
            <div class="arrow" (click)="switchToAnotherCw(-1)">&lt;&lt;</div>
            <div class="title-wrapper">
                <span class="title">{{currentCwIndex}}</span>
            </div>
            <div class="arrow" (click)="switchToAnotherCw(1)">&gt;&gt;</div>
            <div class="button close" (click)="close()">&times;</div>
        </div>
        <div class="content-wrapper">
            <week-day *ngFor="let day of daysOfCurrnetCw" [dayDescriptor]="day"></week-day>
        </div>
    </div>
</ng-container>
