
:host{
    width: 100%;
}
.color-wrapper{
    position: relative;
    width: 100%;
    display: inline-block;
}
.wb-menu-entry{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: relative;
    height: 1.5rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.title{
    display: inline-block;
    position: relative;
    width: calc(100% - 1rem);
    cursor: pointer;
}
.title>span {
    margin-left: 0.3rem;
}
.title:hover>span{
    position: relative;
    display: inline-block;
    transition: 0.3s;
    transform: scale(1.2);
}
.title:active>span{
    transition: 0.3s;
    transform: scale(0.8);
}
.active{
    font-weight: bold;
    cursor: not-allowed;
}
.active:hover{
    font-weight: bold;
    cursor: not-allowed;
}
.active:hover>span{
    transform: scale(1);
}

.kill-me:hover{
    transition: 0.3s;
    transform: scale(1.5);
}
.kill-me{
    right: 0.3rem;
    position: relative;
    width: 1rem;
    display: inline-block;
    transition: 0.3s;
    cursor: pointer;
    /* padding-right: 0.3rem; */
    font-weight: bold;
}
.kill-me:active{
    transition: 0.3;
    transform: scale(0.8);
}