<div class="wb-menu-entry">
    <span class = "color-wrapper" setColors [dBgColor]="bgColor" [shouldSetBgColor]="true">
        <span class="title"  [ngClass]="dynamicClasses"  [ngClass]="{'special': !isKillable}"  >
            <span (dblclick)="enterChangeSheetsTitleMode()" [attr.contenteditable] = "changeSheetsTitleMode">
                {{title}}
            </span>
        </span>
        <span class = "kill-me" *ngIf="isKillable"  (click)="killRelatedSheet($event)">&times;</span>
    </span>
</div>
