<div class="wb-menu-entry">
    <span class = "color-wrapper" setColors [dBgColor]="bgColor" [shouldSetBgColor]="true">
        <span class="title bounce-right"  [ngClass]="{'special': !isKillable, 'active': isActive}"  >
            <span 
                [ngClass] = "{'content-editable':changeSheetsTitleMode}"
                PreventEnter
                PreventPaste
                ValidateMenuTab
                (dblclick)="enterChangeSheetsTitleMode($event)" 
                [attr.contenteditable] = "changeSheetsTitleMode"
            >
                {{title}}
            </span>
        </span>
        <span class = "kill-me" *ngIf="isKillable"  (click)="killRelatedSheet($event)">&times;</span>
    </span>
</div>
