<div class="tab-menu">
    <!-- <tab [tabTitle] = "'+'" [uniqueId] = "addButtonId" [bgColor] = "'green'" [isActive] = "true"></tab> -->
    <tab *ngFor = "let page of pages" 
          [uniqueId] = "getPageId(page)" 
          [bgColor] = "getPageConfigurationData(page).bgColor" 
          [isActive]= 'isThisPageActive(page)'
          [tabTitle]= "getPageConfigurationData(page).title"
          (tabChosen) = "tabWantsToBeActive($event)"
    >
    </tab>
    <tab aria-role = "Add new page"
        [setBehind] = "true"
        [uniqueId] = "'addToPage'"
        [bgColor] = "'black'"
        [isActive] = "true"
        [tabTitle] = "'+'"
        [style.color] = "'white'"
        (tabChosen) = "addNewTabToView($event)"
    >
    </tab>
</div>
