<ng-container *ngIf="shouldBeDisplayed">
    <div class="shutter center">
        <div class="wrapper">
            <div class="title-bar">
                <span>{{boxTitle}}</span>
                <div class="button close-button" (click)="close()">&times;</div>
            </div>
            <div class="field column">
                <div class="label">Title</div>
                <div #topicBox class="input" placeholder="title" contenteditable="true" 
                    [innerHtml] = "topic"
                >
                </div>
            </div>
            <div class="field column">
                <div class="label">Description</div>
                <div #descriptionBox class="input input-big" placeholder="description" contenteditable="true"
                    [innerHTML] = "description"
                >
                </div>
            </div>
            <div class="field column">
                <div class="label">Link</div>
                <div #linkBox class="input" placeholder="link" contenteditable="true"
                    [innerHTML] = "link"
                >
                </div>
            </div>
            <div class="button submit-button" (click)="remove()">Remove</div>
            <div class="button submit-button" (click)="onSubmit()">Submit</div>
        </div>
    </div>
</ng-container>