:host{
    position: absolute;
    width: 100px;
    height: 100px;
    /* border: dashed thin blue; */
}

.active-bgLight{
    border: dashed thin blue;
}
.active-bgDark{
    border: dashed thin rgb(180, 180, 250);
}

.note-wrapper{
position: absolute;
width: 100%;
height: 100%;

/* display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
align-items: center; */

}
.copyable{
    display: inline-block;
    background-color: black;
    mix-blend-mode: difference;
    color: white;
    border-radius: 3px;
    padding: 4px;
}

.note-content-wrapper>span{
    outline: none;
}
.note-content-wrapper>div{
    outline: none;
}

.note-content-wrapper{
    position: relative;
    /* background-color: rgb(230, 230, 230); */
    width: calc(100% - 0px);
    height: calc(100% - 30px);
    top: 30px;
    outline: none;
}
.content-holder{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}
movable-point:nth-child(1){
    /* position: relative; */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
resize-point{
    right: -0px;
    bottom: -0px;
    z-index: 2;
    transform: translate(50%, 50%);
}

