<div class="note-wrapper" (focusout) = "informAboutContentChange($event)">
    <movable-point movableparent [nestedLevel]="2"
                   [initialTop] = "initialTop"
                   [initialLeft] = "initialLeft"
                   #movableHandle
                   data-role="move-whole-object"
                   (elementMoved) = "informAboutMovement($event)"
                   [movableElementId] = "'moveId'"
    >
    </movable-point>
        <div class="note-content-wrapper">
            <span #contentHolder contenteditable="true" [innerHTML] = "content"></span>
        </div>
    <movable-point  data-role="resize" 
                    resizeparent [nestedLevel]="2"
                    [initialWidth] = "initialWidth"
                    [initialHeight] = "initialHeight"
                    [movableElementId] = "'resizeId'"
                    (elementResized) = "informAboutResize($event)"
    ></movable-point>
</div>