<ng-container *ngIf = "shouldBeDisplayed">
        <div class="shutter center">
            <div class="message-wrapper">
                <div class="title-bar">
                    <div class="title">
                        {{isItSaveApplicationVariant ? 'Save as' : 'Load from'}}
                    </div>
                    <div class="close">
                        <kill-me (click)="shutSaveLoadWindow()"></kill-me>
                    </div>
                </div>
                <div class="content-window">
                    <div *ngFor="let key of keys" 
                        class="key" 
                        [ngClass] = "isThisActive(key)" 
                        (click)="keyChosen(key)"
                        [attr.data-content] = "key"
                    >
                        {{key}}
                    </div>
                </div>
                <span class="label">
                    {{isItSaveApplicationVariant ? 'Name to save under: ' : 'Name to load from: '}}
                </span>
                <div class="edit-field" 
                    [attr.contenteditable]="isItSaveApplicationVariant" 
                    (focusout) = "onChange($event)"
                >
                    {{currentlySelectedItem}}
                </div>
                <div class="button-wrapper">
                        <div class="button" (click) = "confirmation()">Save</div>
                        <div class="button" (click) = "shutSaveLoadWindow()">Close</div>
                        <div class="button" (click) = "removeCurrent()">Remove</div>
                        <div class="button" (click) = "clearAllContent()">Clear all</div>
                        <div class="button" (click) = "refresh()">Refresh</div>
                        <div class="button" (click) = "generateMocks()">Test</div>
                        <div class="button" (click) = "loadKey()">Load</div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- <ng-template>
        <div class="key"></div>
    </ng-template> -->

