<ng-container *ngIf = "shouldBeDisplayed">
        <div class="shutter center">
            <div class="message-wrapper">
                <div class="title-bar">
                    <div class="title">
                        {{saveLoadMode == "save" ? 'Save as' : 'Load from'}}
                    </div>
                    <div class="close">
                        <kill-me (click)="shutSaveLoadWindow()"></kill-me>
                    </div>
                </div>
                <div class="content-window">
                    <div *ngFor="let key of keys" 
                        class="key" 
                        [ngClass] = "isThisActive(key)" 
                        (click)="keyChosen(key)"
                        [attr.data-content] = "key"
                    >
                        {{key}}
                    </div>
                </div>
                <span class="label">
                    {{saveLoadMode=='save' ? 'Name to save under: ' : 'Name to load from: '}}
                </span>
                <div class="edit-field" 
                    #inputField
                    [attr.contenteditable]="saveLoadMode == 'save'" 
                    [ngClass]="{'non-editable': saveLoadMode == 'load'}" 
                    (focusout) = "onChange($event)"
                >
                    {{currentlySelectedItem}}
                </div>
                <div class="button-wrapper">
                        <div *ngIf="saveLoadMode=='save'" 
                            class="button" 
                            (click) = "save()"
                            [ngClass]="{'disabled': isInputFieldEmpty}"
                        >
                            Save
                        </div>
                        <div *ngIf="saveLoadMode=='load'" class="button" 
                            (click) = "loadKey()" [ngClass]="{'disabled': !isCurrentlySelectedItemOnList()}">Load
                        </div>
                        <div class="button" (click) = "shutSaveLoadWindow()">Close</div>
                        <div class="button" (click) = "removeCurrent()"
                            [ngClass]="{'disabled': !isCurrentlySelectedItemOnList()}">Remove
                        </div>
                        <!-- <div class="button" (click) = "clearAllContent()">Clear all</div> -->
                        <!-- <div class="button" (click) = "refresh()">Refresh</div> -->
                        <!-- <div class="button" (click) = "generateMocks()">Test</div> -->
                </div>
            </div>
        </div>
    </ng-container>

    <!-- <ng-template>
        <div class="key"></div>
    </ng-template> -->

